@import "config";
@import "utilities";
// General Styles
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
}
a {
  text-decoration: none;
  color: $dark-color;
  font-size: 1.1rem;
  font-weight: bold;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}
img {
  width: 100%;
}
// Navbar
#main-navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }
  a {
    text-decoration: none;
    color: $dark-color;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $main-color;
    }
    &.current {
      border-color: $medium-color;
    }
  }
}
/// Header Section
#header {
  &-home {
    position: relative;
    height: 100vh;
    color: black;
    display: block;

    .header-content {
      text-align: center;
      padding-top: 20%;
    }
    h1 {
      font-size: 3rem;
    }
  }
  &-home::after {
    content: "";
    background: $bg-image no-repeat center left/cover;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}
// Specialize Section
#specialize {
  .specials {
    margin-top: 3rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    .fas {
      color: $main-color;
      padding-bottom: 0.8rem;
    }
  }
}
// Workflow Section
#workflow {
  .process {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.5rem;
    text-align: center;
  }
  .process-step {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    background-color: $main-color;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    line-height: 15px;
    padding: 1.5rem;
    transition: all 1s;
  }
  .process-icon {
    border-radius: 50%;
    background: $dark-color;
    color: #fff;
    padding: 2rem;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    position: relative;
    transition: all 1s;
    &:hover {
      background: $main-color;
      width: 90px;
      height: 90px;
      line-height: 90px;
      .process-step {
        background: $dark-color;
      }
    }
  }
}
// Footer
#main-footer {
  background-color: $dark-color;
  color: #fff;
  padding: 3rem;
  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    .social .fab {
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 1rem;
      &:hover {
        background-color: $main-color;
      }
    }
  }
}
.js-text {
  color: $main-color;
}
// Javascript Cursor
.js-text > .txt {
  border-right: 0.2rem solid #fff;
}
